/* plus-jakarta-sans-regular - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/plus-jakarta-sans-v8-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/plus-jakarta-sans-v8-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-600 - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/plus-jakarta-sans-v8-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-700 - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/plus-jakarta-sans-v8-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1176px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
body {
  margin: 0;
  font-family: "Plus Jakarta Sans", "sans-serif", sans-serif;
  font-weight: 700;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
.site-header {
  border-bottom: 1px solid #eeeef4;
  margin-bottom: 91px;
}
.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-header__start {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.site-logo {
  margin-right: 50px;
}
.site-logo:hover {
  opacity: 0.8;
}
.site-logo:active {
  opacity: 0.6;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.nav-link {
  color: #101010;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.nav-link:hover {
  color: #1aab7b;
}
.nav-link:active {
  opacity: 0.6;
  color: #1aab7b;
}
.btn-telnumber {
  background-color: #101010;
  border-radius: 6px;
  padding: 12px 24px;
  color: #fff;
  font-size: 14px;
  line-height: 16.8px;
}
.btn-telnumber:hover {
  background-color: #fff;
  border: 1px solid #1aab7b;
  color: #1aab7b;
}
.btn-telnumber:active {
  opacity: 0.6;
  background-color: #101010;
  color: #fff;
  border: none;
}

.level-section__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 156px;
}
.level-section__title {
  width: 500px;
  margin: 0 0 2px 0;
  color: #101010;
  font-size: 56px;
  line-height: 78.4px;
}
.level-section__desc {
  width: 530px;
  margin-bottom: 40px;
  color: #636f87;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.btn {
  background-color: #1aab7b;
  border-radius: 6px;
  border: none;
  padding: 20px 40px;
  color: #fff;
  font-size: 16px;
  line-height: 19.2px;
}
.btn:hover {
  background-color: #fff;
  border: 1.5px solid #1aab7b;
  color: #1aab7b;
}
.btn:active {
  opacity: 0.7;
  background-color: #1aab7b;
  color: #fff;
}
.level-section__end {
  position: relative;
}
.video-player__img {
  position: absolute;
  top: 117px;
  left: 246px;
}
.help-section {
  background-color: #f2f4f6;
  padding-top: 50px;
}
.help-section__title {
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  color: #101010;
  font-size: 36px;
  font-weight: 600;
  line-height: 50.4px;
}
.help-section__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  padding-bottom: 40px;
}
.help-section__item {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 40px 30px;
  border-radius: 6px;
  overflow: hidden;
  border: 2px solid #e1e7ed;
}
.help-section__item:hover {
  background-color: #1aab7b;
}
.help-section__item:hover .help-section__item--title {
  color: #fff;
}
.help-section__item:hover .help-section__item--desc {
  color: #fff;
}
.help-section__item:hover .help-section__item--link {
  color: #fff;
  text-decoration: underline;
}
.help-section__item--title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #101010;
  font-size: 32px;
  font-weight: 600;
  line-height: 44.8px;
  word-wrap: break-word;
}
.help-section__item--desc {
  width: 305px;
  color: #636f87;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.help-section__item--link {
  color: black;
  font-size: 20px;
  line-height: 28px;
}
.help-section__item--circle {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 17px;
  background-color: #e1e7ed;
  border-radius: 50%;
}
.work-section__list {
  margin-bottom: 50px;
}
.work-section__title {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  color: #101010;
  font-size: 36px;
  font-weight: 600;
  line-height: 50.4px;
}
.work-section__desc {
  text-align: center;
  width: 650px;
  margin: 0 auto;
  margin-bottom: 90px;
  color: #636f87;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.work-section__item {
  display: flex;
  gap: 32px;
  margin-bottom: 100px;
}
.work-section__item:nth-child(2n) {
  flex-direction: row-reverse;
}
.work-section__item--title {
  width: 469px;
  margin-bottom: 20px;
  color: #101010;
  font-size: 40px;
  line-height: 56px;
}
.work-section__item--desc {
  width: 469px;
  color: #636f87;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.form-section__title {
  width: 411px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  color: #101010;
  font-size: 36px;
  line-height: 50.4px;
}
.form-section__desc {
  width: 650px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
  color: #636f87;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.form-section__form {
  width: 950px;
  background-color: #f2f4f6;
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 200px;
  padding: 64px 250px;
}
.form-section__input {
  display: block;
  margin-bottom: 51px;
  padding-top: 3px;
  padding-right: 295px;
  padding-bottom: 21px;
  border-top: none;
  border-right: none;
  border-bottom: 1px #636f87 solid;
  border-left: none;
  background-color: transparent;
}
.form-section__input::placeholder {
  color: #101010;
  font-size: 20px;
}
.form-section__select {
  display: block;
  margin-bottom: 40px;
  padding-top: 3px;
  padding-right: 340px;
  padding-bottom: 21px;
  border-top: none;
  border-right: none;
  border-bottom: 1px #636f87 solid;
  border-left: none;
  background-color: transparent;
}
.form-section__select:optional {
  color: #101010;
  font-size: 20px;
}
.form-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}
.send-desc {
  text-align: center;
  color: #858ea1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.site-footer {
  background-color: #101010;
}
.site-footer__top {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}
.site-footer__top--start {
  display: flex;
  justify-content: space-between;
}
.services-list {
  margin-right: 151px;
}
.services-list__title,
.resources-list__title,
.connect-list__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #fff;
  font-size: 20px;
}
.services-item,
.resources-item,
.connect-item {
  margin-bottom: 26px;
  color: #a1a8b7;
  font-size: 18px;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: 27px;
}
.services-item:last-child,
.resources-item:last-child {
  margin-bottom: 0;
}
.connect-item:last-child {
  width: 280px;
  margin-bottom: 32px;
}
.accaunts-list {
  display: flex;
}
.accaunts-item {
  margin-right: 40px;
}
.accaunts-item:last-child {
  margin-right: 0;
}
.site-footer__bottom {
  border-top: 1px solid #3b4155;
  padding-top: 49px;
  padding-bottom: 50px;
}
.site-footer__bottom--wrapper {
  display: flex;
  justify-content: space-between;
}
.site-footer__bottom--desc {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
